.container {
   padding: 0 15px 15px;
}

.wrapper {
   width: 400px;
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: lightslategrey;
   border-radius: 10px;
   color: #fff;
   gap: 5px;
   padding: 20px;
   margin: 0 auto;

   .field {
      display: flex;
      flex-direction: column;
      gap: 3px;
   }

   select,
   input {
      border: 2px solid #fff;
      border-radius: 5px;
      padding: 5px 10px;

      &:focus {
         border: 2px solid darkorange;
      }
   }

   select {
      width: 179.2px;
      text-align: center;
   }

   button {
      width: 130px;
      font-size: 20px;
      background-color: darkorange;
      color: #fff;
      border: 2px solid darkorange;
      border-radius: 5px;
      padding: 5px 0;
      margin-top: 5px;

      &:hover {
         background-color: #fff;
         color: darkorange;
      }

      &:active {
         color: lightslategrey;
         border: 2px solid #fff;
      }
   }

   .errors {
      text-align: center;
      color: firebrick;
   }

   .noErrors {
      height: 14px;
   }
}

.success {
   font-size: 20px;
   text-align: center;
   padding: 10px 0;

   &::first-letter {
      text-transform: uppercase;
   }
}

.requestError {
   font-size: 20px;
   text-align: center;
   color: firebrick;
   padding: 10px 0;

   &::first-letter {
      text-transform: uppercase;
   }
}