.wrapper {
	max-width: 400px;
	display: flex;
	flex-direction: column;
	text-align: center;
	border: 5px solid rgb(52, 141, 169);
	border-radius: 10px;
	padding: 10px 40px;
}

.display {
	font-size: 40px;
	font-weight: 700;
	border: 5px solid rgb(91, 196, 227);
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 10px;
}

.isEvenDisplay {
	font-size: 40px;
	font-weight: 700;
	border: 5px solid rgb(91, 196, 227);
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 10px;
}

.controlButtons {
	display: flex;
	justify-content: center;
	gap: 10px;
}

.controlButton {
	width: 65px;
	height: 65px;
	display: flex;
	justify-content: center;
	font-size: 20px;
	border: 5px solid rgb(91, 196, 227);
	border-radius: 50%;

	&:first-of-type {
		font-size: 40px;
	}

	&:nth-of-type(2) {
		align-items: center;
	}

	&:last-of-type {
		font-size: 40px;
	}

	&:hover {
		border: 5px solid rgb(34, 178, 222);
		background-color: rgb(213, 243, 255);
	}

	&:active {
		background-color: rgb(34, 178, 222);
	}
}

.removeButton {
	width: 130px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	font-weight: 500;
	color: rgb(16, 135, 123);
	border: 5px solid rgb(16, 135, 123);
	border-radius: 10px;
	margin: 10px auto 0;

	&:hover {
		border: 5px solid rgb(10, 94, 85);
		background-color: rgba(16, 135, 123, 0.326);
	}

	&:active {
		background-color: rgba(16, 135, 123, 0.666);
	}
}

.evenColor {
	background-color: skyblue;
}

.oddColor {
	background-color: cornflowerblue;
}